* {
  /* border: 1px solid black; */
}

p {
  margin-top: 10px;
  padding: 15px;

  /* background-color: lightgray; */
  background-color: #efdcf9;

  width: 30%;
  word-break: break-word;
  border-radius: 5px;
  font-family: poppins;
  /* border: none; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  /* border: no; */
}

.div-style {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #c55ffc; */
}
.div-style > div {
  display: flex;

  justify-items: center;
  align-items: center;
  margin-left: 5px;
  /* padding: -20px; */
  /* border: 1px solid grey; */
  border-radius: 25px;
  height: 40px;
  /* padding: 5px; */
  /* padding-left: 18px;
  padding-right: 18px;
  padding-top: 5px;
  padding-bottom: 5px; */
  padding: 5px 18px;
  font-family: poppins;
  font-size: 16px;
  background-color: #c55ffc;
  /* color: #e2e2e2; */
  color: white;

  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 5px; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

  /* font-weight: 300px; */
  /* color: #323e42; */
  /* margin-left: 10px; */
}

.btnStyle:hover {
  transition: 0.5s;
  background-color: 1px solid white;
  cursor: pointer;
}

.header {
  text-align: center;
  font-family: poppins;

  margin-bottom: 10px;
}

.header input {
  padding: 15px;
  margin-left: 5px;
  padding-left: 10px;
  border-radius: 10px;
  width: 30%;
  border: 1px solid grey;
  font-family: poppins;
  margin-bottom: 10px;
  border: none;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* border: 2px solid black; */
  /* background-color: #efdcf9; */
}

.header button {
  /* border: 1px solid none; */
  border: none;
  border-radius: 20px;
  height: 43px;
  font-family: poppins;
  font-size: 16px;

  background-color: rgb(9, 219, 9);
  color: white;
  width: 100px;

  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.header h3 {
  font-weight: 300px;
  font-size: 32px;
  /* border: 2px solid black; */
}

.main {
  /* background-color: #c55ffc; */

  /* height: 100vh; */
  /* height: 20vh; */
}
